{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <title>TornMemes</title>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>

    <body>
        <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar" style="background: linear-gradient(0deg, #0c1014 0%, #344657 100%); box-shadow: 0 1px 0 #ffffff0d;">
            <div class="container">
                <a class="navbar-brand logo" href="/">TornMemes</a>
                <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#faqModal">FAQ</a></li>
                        <li class="nav-item" id="login-button"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a></li>
                        <li class="nav-item" id="profile-button" style="display: none;"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#profileModal">Profile</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <main class="page lanidng-page">
            <section class="portfolio-block block-intro">
                <div class="container">
                    <div class="about-me">
                        <p>
                            Welcome to&nbsp;<strong>TornMemes</strong>!<br />
                            upload TORN related memes and earn fame &amp; rewards.
                        </p>
                        <a class="btn btn-secondary" role="button" href="#" data-bs-target="#uploadModal" data-bs-toggle="modal"><i class="fas fa-upload p-2"></i><span>Upload Memes</span><i class="fas fa-upload p-2"></i></a>
                    </div>
                </div>
            </section>
            {% if memes_group1 %}
            <div class="card-group">
                {% for meme in memes_group1 %}
                <div class="card p-2" style="background-color: #f5f5f5;">
                    <img class="card-img-top w-100 d-block" src="{{ meme.image_link }}" data-bs-toggle="modal" data-bs-target="#memeModal" onclick="setMemeModal(this.src);" />
                    <div class="card-body text-center">
                        <p class="card-text">
                            <strong>{{ meme.tornplayer.username }} [{{ meme.tornplayer.torn_id }}]</strong><br />
                            {{ meme.caption }}
                        </p>
                        <div class="btn-group" role="group">
                            <button class="btn btn-primary btn-success" onclick="handleReaction('{{ meme.id|escapejs }}', 'like');" id="meme-id-{{ meme.id|escapejs }}-like-btn" type="button">
                                <i class="fas fa-thumbs-up"></i>&nbsp; <span id="meme-id-{{ meme.id|escapejs }}-likes">{{ meme.likes }}</span>
                            </button>
                            <button class="btn btn-primary btn-warning" type="button">
                                <a target="_blank" style="color: black;" href="https://www.torn.com/sendcash.php#/XID={{ meme.tornplayer.torn_id }}"> <i class="fas fa-dollar-sign"></i></a>
                            </button>
                            <button class="btn btn-primary btn-danger" onclick="handleReaction('{{ meme.id|escapejs }}', 'dislike');" id="meme-id-{{ meme.id|escapejs }}-dislike-btn" type="button">
                                <i class="fas fa-thumbs-down"></i>&nbsp; <span id="meme-id-{{ meme.id|escapejs }}-dislikes">{{ meme.dislikes }}</span>
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %} {% if memes_group2 %}
            <div class="card-group">
                {% for meme in memes_group2 %}
                <div class="card p-2" style="background-color: #f5f5f5;">
                    <img class="card-img-top w-100 d-block" src="{{ meme.image_link }}" data-bs-toggle="modal" data-bs-target="#memeModal" onclick="setMemeModal(this.src);" />
                    <div class="card-body text-center">
                        <p class="card-text">
                            <strong>{{ meme.tornplayer.username }} [{{ meme.tornplayer.torn_id }}]</strong><br />
                            {{ meme.caption }}
                        </p>
                        <div class="btn-group" role="group">
                            <button class="btn btn-primary btn-success" onclick="handleReaction('{{ meme.id|escapejs }}', 'like');" id="meme-id-{{ meme.id|escapejs }}-like-btn" type="button">
                                <i class="fas fa-thumbs-up"></i>&nbsp; <span id="meme-id-{{ meme.id|escapejs }}-likes">{{ meme.likes }}</span>
                            </button>
                            <button class="btn btn-primary btn-warning" type="button">
                                <a target="_blank" style="color: black;" href="https://www.torn.com/sendcash.php#/XID={{ meme.tornplayer.torn_id }}"> <i class="fas fa-dollar-sign"></i></a>
                            </button>
                            <button class="btn btn-primary btn-danger" onclick="handleReaction('{{ meme.id|escapejs }}', 'dislike');" id="meme-id-{{ meme.id|escapejs }}-dislike-btn" type="button">
                                <i class="fas fa-thumbs-down"></i>&nbsp; <span id="meme-id-{{ meme.id|escapejs }}-dislikes">{{ meme.dislikes }}</span>
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %} {% if memes_group3 %}
            <div class="card-group">
                {% for meme in memes_group3 %}
                <div class="card p-2" style="background-color: #f5f5f5;">
                    <img class="card-img-top w-100 d-block" src="{{ meme.image_link }}" data-bs-toggle="modal" data-bs-target="#memeModal" onclick="setMemeModal(this.src);" />
                    <div class="card-body text-center">
                        <p class="card-text">
                            <strong>{{ meme.tornplayer.username }} [{{ meme.tornplayer.torn_id }}]</strong><br />
                            {{ meme.caption }}
                        </p>
                        <div class="btn-group" role="group">
                            <button class="btn btn-primary btn-success" onclick="handleReaction('{{ meme.id|escapejs }}', 'like');" id="meme-id-{{ meme.id|escapejs }}-like-btn" type="button">
                                <i class="fas fa-thumbs-up"></i>&nbsp; <span id="meme-id-{{ meme.id|escapejs }}-likes">{{ meme.likes }}</span>
                            </button>
                            <button class="btn btn-primary btn-warning" type="button">
                                <a target="_blank" style="color: black;" href="https://www.torn.com/sendcash.php#/XID={{ meme.tornplayer.torn_id }}"> <i class="fas fa-dollar-sign"></i></a>
                            </button>
                            <button class="btn btn-primary btn-danger" onclick="handleReaction('{{ meme.id|escapejs }}', 'dislike');" id="meme-id-{{ meme.id|escapejs }}-dislike-btn" type="button">
                                <i class="fas fa-thumbs-down"></i>&nbsp; <span id="meme-id-{{ meme.id|escapejs }}-dislikes">{{ meme.dislikes }}</span>
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %} {% if memes_group4 %}
            <div class="card-group">
                {% for meme in memes_group4 %}
                <div class="card p-2" style="background-color: #f5f5f5;">
                    <img class="card-img-top w-100 d-block" src="{{ meme.image_link }}" data-bs-toggle="modal" data-bs-target="#memeModal" onclick="setMemeModal(this.src);" />
                    <div class="card-body text-center">
                        <p class="card-text">
                            <strong>{{ meme.tornplayer.username }} [{{ meme.tornplayer.torn_id }}]</strong><br />
                            {{ meme.caption }}
                        </p>
                        <div class="btn-group" role="group">
                            <button class="btn btn-primary btn-success" onclick="handleReaction('{{ meme.id|escapejs }}', 'like');" id="meme-id-{{ meme.id|escapejs }}-like-btn" type="button">
                                <i class="fas fa-thumbs-up"></i>&nbsp; <span id="meme-id-{{ meme.id|escapejs }}-likes">{{ meme.likes }}</span>
                            </button>
                            <button class="btn btn-primary btn-warning" type="button">
                                <a target="_blank" style="color: black;" href="https://www.torn.com/sendcash.php#/XID={{ meme.tornplayer.torn_id }}"> <i class="fas fa-dollar-sign"></i></a>
                            </button>
                            <button class="btn btn-primary btn-danger" onclick="handleReaction('{{ meme.id|escapejs }}', 'dislike');" id="meme-id-{{ meme.id|escapejs }}-dislike-btn" type="button">
                                <i class="fas fa-thumbs-down"></i>&nbsp; <span id="meme-id-{{ meme.id|escapejs }}-dislikes">{{ meme.dislikes }}</span>
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %} {% if memes_group5 %}
            <div class="card-group">
                {% for meme in memes_group5 %}
                <div class="card p-2" style="background-color: #f5f5f5;">
                    <img class="card-img-top w-100 d-block" src="{{ meme.image_link }}" data-bs-toggle="modal" data-bs-target="#memeModal" onclick="setMemeModal(this.src);" />
                    <div class="card-body text-center">
                        <p class="card-text">
                            <strong>{{ meme.tornplayer.username }} [{{ meme.tornplayer.torn_id }}]</strong><br />
                            {{ meme.caption }}
                        </p>
                        <div class="btn-group" role="group">
                            <button class="btn btn-primary btn-success" onclick="handleReaction('{{ meme.id|escapejs }}', 'like');" id="meme-id-{{ meme.id|escapejs }}-like-btn" type="button">
                                <i class="fas fa-thumbs-up"></i>&nbsp; <span id="meme-id-{{ meme.id|escapejs }}-likes">{{ meme.likes }}</span>
                            </button>
                            <button class="btn btn-primary btn-warning" type="button">
                                <a target="_blank" style="color: black;" href="https://www.torn.com/sendcash.php#/XID={{ meme.tornplayer.torn_id }}"> <i class="fas fa-dollar-sign"></i></a>
                            </button>
                            <button class="btn btn-primary btn-danger" onclick="handleReaction('{{ meme.id|escapejs }}', 'dislike');" id="meme-id-{{ meme.id|escapejs }}-dislike-btn" type="button">
                                <i class="fas fa-thumbs-down"></i>&nbsp; <span id="meme-id-{{ meme.id|escapejs }}-dislikes">{{ meme.dislikes }}</span>
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %} {% if memes_on_page == 0 %}
            <div class="portfolio-block">
                <div class="col text-center">
                    <h3>Sorry! We ran out of memes.</h3>
                </div>
            </div>
            {% endif %}
            <section class="portfolio-block call-to-action border-bottom">
                <nav id="pagination-ui">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled" id="prev-button"><a id="prev-button-link" class="page-link">Prev</a></li>
                        <li class="page-item active"><a class="page-link" id="current-page">0</a></li>
                        <li class="page-item disabled" id="next-button"><a id="next-button-link" class="page-link">Next</a></li>
                    </ul>
                </nav>
            </section>
        </main>
        <section class="portfolio-block website" style="background: linear-gradient(0deg, #0c1014 0%, #344657 100%); box-shadow: 0 1px 0 #ffffff0d;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col text-center">
                        {% if banner_ad_1 %}
                        <a target="_blank" href="{{ banner_ad_1.redirect_link }}">
                            <img class="img-fluid" src="{{ banner_ad_1.image_link }}" />
                        </a>
                        {% endif %}
                        <h6 style="color: white;" class="p-2">
                            <a href="#" style="text-decoration: none; color: white;" data-bs-toggle="modal" data-bs-target="#advertiseModal">Advertise Here</a> |
                            <a href="/sponsors" style="text-decoration: none; color: white;">View All Sponsors</a>
                        </h6>
                        {% if banner_ad_2 %}
                        <a target="_blank" href="{{ banner_ad_2.redirect_link }}">
                            <img class="img-fluid" src="{{ banner_ad_2.image_link }}" />
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <footer class="page-footer">
            <h6>
                Copyright 2021 - TornMemes
            </h6>
        </footer>
        <div class="modal fade" role="dialog" tabindex="-1" id="advertiseModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>Banner Ad Guidelines</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>Banner Ad in TornMemes cost <strong>$300,000 TCD</strong> per day to run. If you want to show your banner for more than one day, please make sure to send money in any increment of $300,000</li>
                            <li>
                                Banner images should be related to Torn only
                            </li>
                            <li>You will have to upload the banner image through the link below and send the money to <a href="https://www.torn.com/sendcash.php#/XID=2680763">XeN0N_2021</a></li>
                            <li>
                                Banner must be of 650x90 px resolution. Supported formats are: jpeg, jpg, gif, png.
                            </li>
                            <li>
                                Once approved by the TornMemes staffs, the banner ad will start showing on the website
                            </li>
                            <li>
                                Any mugging incidents after sending the money will automatically reject your requests
                            </li>
                            <li>
                                No Refund
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <a target="_blank" href="https://forms.gle/xPrQ7jhtPvq7MQDx8" class="btn btn-secondary">Proceed</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" tabindex="-1" id="uploadModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>Upload Meme Guidelines</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>
                                The meme must be Torn related
                            </li>
                            <li>
                                The preferred dimensions for the meme image is 500x500 px
                            </li>
                            <li>
                                The meme should be your original work. We won't accept the same meme concept with different templates.
                            </li>
                            <li>
                                The meme should not promote any kind of discrimination, harassment, obscene content or promotions.
                            </li>
                            <li>
                                To submit your meme, we will need your special TornMemes API key. You can use your Torn API to login to TornMemes, we will then generate a key for you. You can find it in your 'Profile' after successful login
                                (on right corner of the website).
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <a target="_blank" href="https://forms.gle/bRFrrudRWqiA1R8K9" class="btn btn-secondary">Proceed</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" tabindex="-1" id="memeModal">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center">
                        <img id="meme-image-link" class="img-fluid" src="#" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" tabindex="-1" id="loginModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>Login</h5>
                        <button type="button" class="btn-close" id="close-login-modal" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="col-form-label">Torn API Key:</label>
                            <input type="text" class="form-control" id="torn-api-key" name="torn-api-key" />
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="remember-me" onclick="toggleFlag($(this));" />
                            <input type="text" value="false" id="remember-me-flag" hidden />
                            <label class="form-check-label" for="remember-me">
                                Remember Me
                                <span data-toggle="tooltip" title="Saves the API key in your browser until you logout">
                                    <i class="fa fa-question-circle"></i>
                                </span>
                            </label>
                        </div>
                        <div class="alert fade show" id="alert-message">
                            Welcome to TornMemes
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="authTornPlayer($('#torn-api-key').val(), $('#remember-me-flag').val());" id="login-button">Login</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" tabindex="-1" id="profileModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>Profile</h5>
                        <button type="button" class="btn-close" id="close-profile-modal" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="col-form-label">Torn User ID:</label>
                            <input type="text" class="form-control" id="torn-user-id" readonly />
                        </div>
                        <div class="mb-3">
                            <label class="col-form-label">TornMemes API Key:</label>
                            <input type="text" class="form-control" id="tornmemes-api-key" readonly />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="handleLogout();" id="logout-button">Logout</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" tabindex="-1" id="faqModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>FAQ</h5>
                        <button type="button" class="btn-close" id="close-profile-modal" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                        I am concerned about my Torn API key's security
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        We have made a system where we use your Torn API key just to authenticate and validate your identity. Upon verification, we create a special TornMemes API key for you, which is then used for all kinds of interaction in the entire website. We don't and we won't store or misuse your Torn API key.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                        How do you guys judge a meme?
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        It's actually pretty simple. The meme should be original, awesome, and related to Torn. The meme which promotes any kind of discrimination, harassment, obscene content or promotions, will be directly rejected by our TornMemes staff.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                        I want to suggest something to improve TornMemes
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        We are constantly trying our best to improve TornMemes. We will be glad to hear your suggestions. You can post your thoughts directly on the forum post [<a href="#">HERE</a>]
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                        What we can expect from TornMemes in future?
                                    </button>
                                </h2>
                                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        If everything goes as planned and we start getting some good traffic on the platform. We are planning to launch weekly competitions, leaderboards, and many more cool features.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                        How can we support TornMemes?
                                    </button>
                                </h2>
                                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        Aww thank you so much ❤️ You are doing more than enough by visiting this platform and/or uploading your amazing memes. If you like to do more for us, you can leave a like on the forum post [<a href="#">HERE</a>], and you can also support the developer of TornMemes [<a href="https://www.torn.com/sendcash.php#/XID=2680763">HERE</a>] by rewarding some <strong>$$$ Torn City Dollars</strong>. Enjoy the memes and have a great day.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            var total_pages = parseInt("{{ total_pages|escapejs }}");
            var memes_on_page = parseInt("{{ memes_on_page|escapejs }}");
        </script>
        <script src="{% static 'js/script.min.js' %}"></script>
    </body>
</html>
